-f https://download.pytorch.org/whl/torch_stable.html
pillow==9.5.0
torch==2.0.1+cpu
torchvision==0.15.2+cpu
numpy==1.21.6
opencv-python==4.8.1.78
networkx==3.1
ultralytics==8.0.138
redis==4.6.0
event-service-utils
python-decouple==3.1
walrus==0.7.1
-e file:./#egg=pytorch_object_detection_service